<!DOCTYPE html>
<html>

<head>
    <title>TRAVELOG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">  
    <link rel="stylesheet" href="/stylesheets/edit.css"> 
    <link rel="stylesheet" href="/stylesheets/new.css">   
    <link rel="stylesheet" href="/stylesheets/main-places.css"> 
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark " id="navbarid">
        <div class="container-fluid">
            <div class="navbar-head">
                <a class="navbar-brand" href="#">
                    <img src="\images\travelog-logo-white.svg" width="150" height="40">

                </a>

            </div>
            <div class="collapse navbar-collapse  justify-content-end">
                <ul class="navbar-nav text-right">
                    <li class="head1">
                        <a class="nav-link"href="#">Hi,<%=currentUser.name%></a>
                    </li>
                    <li class="head2">
                        <a class="nav-link" href="/logout"> Logout </a>
                    </li>

                </ul>
            </div>
    </nav>
    