<!DOCTYPE html>
<html>

<head>
    <title>travelog</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    

</head>

</html>

<body>
    <div class="container" style="padding:0 auto; justify-content: center;">
    <div class="jumbotron" style="margin-top:3%;margin-bottom:1%; background-image:url(<svg id="Layer" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m54 30h-39.899l15.278-14.552c.8-.762.831-2.028.069-2.828-.761-.799-2.027-.831-2.828-.069l-17.448 16.62c-.755.756-1.172 1.76-1.172 2.829 0 1.068.417 2.073 1.207 2.862l17.414 16.586c.387.369.883.552 1.379.552.528 0 1.056-.208 1.449-.621.762-.8.731-2.065-.069-2.827l-15.342-14.552h39.962c1.104 0 2-.896 2-2s-.896-2-2-2z"/></svg>);">
    </div>
        <div class="jumbotron"  style=" padding-top:6px ; height:500px;">
            <div class="row" style="width:100% ; margin:0 auto;">
                <div class="col-md-6 login-form">
                    <h3>Login</h3>
                    <form action="/login" method="POST">
                          <div class="form-group">
                             <input class="form-control" type="text" name="username" required placeholder="Username">
                           </div>
                           <div class="form-group">
                              <input class="form-control" type="password" name="password" required placeholder="Password">
                           </div>
                           <button>login!!</button>
                        </form>
                </div>
                
                <div class="col-md-6 register-form" >
                    <h3>Don't already have an account ?</h3>
                    <h6>Register Up!</h6>                
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" required placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" required placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="tel" name="phonenum" required placeholder="Phone NO">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="tel" name="phonenum" required placeholder="Phone NO">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" required placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" required placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button>Sign up!!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    
</body>














































