
.container-body{
    background-color:rgb(14, 19, 49);
}

.home{
    background-color:rgb(14, 19, 49);
}
.strip{
    background-color:rgb(36, 90, 153);
}

.navbar {
    background-color:rgb(14, 19, 49);

}



